:root {
    --background : rgb(216, 216, 216);
    --menu : #5b81c6;
    --focus : rgb(18,18,68);
}

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}

/* Menu */

.corners {
    z-index: 1;
    position: absolute;
    background-color: var(--menu);
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
}

header {
    background-color: var(--menu);
    filter: transparent blur(5px);
    padding: 1em 1em;
    height: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    border-radius: 3em;
}

.titre {
    margin: 0 auto;
    color: var(--background);
}

nav {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.btn {
    margin: auto auto;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: var(--background);
    border-radius: 2em;
    background-color: var(--menu);
    transition: all 0.5s;
}

.btn:hover {
    background-color: var(--focus);
}

/* Page */

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-size: 5em;
    font-weight: bolder;
}